html {
    font-size: 18px;
  }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 14px;
    }
  }
  
  /* Header */

  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.44rem;
    padding: 0 12%;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-family: Verdana, sans-serif;
    font-size: 1rem;
  }
    

@media only screen and (max-width: 750px) {
    .header {
      flex-direction:column;
      font-size: 12px;
     
    
    }
    .header li {
      display: flex;
      
    }
    
  
   .header .logo {
      flex-grow: 0;
    }
  }
  @media only screen and (max-width: 450px) {

  .header {
      visibility: hidden; 
      height: 0rem;   
    }
  
  .banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(243, 237, 234);
   color: #f5a170;
   height: 14rem;
   text-align: center;
 }
  .banner h1 {
  border-top:2px solid #f5a170;
  border-bottom: 2px solid #f5a170;
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

  .banner h2 {

  font-size: 1.5rem;
 }
 .intro{
  height: 65rem;
}
} 

  .header .logo {
    flex-grow: 1;
    color: #f5a170;
  }
  
  
  .header li {
    display: inline;
    padding-right: 2.22rem;
  }
  
  .header li a {
    text-decoration: none;
    color: #4a4a4a;
  }


  /* Banner */

.banner {
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 231, 218);
    color: #f5a170;
    height: 14rem;
    text-align: center;
  }



.banner h1 {
    border-top: 3px solid #f5a170;
    border-bottom: 3px solid #f5a170;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
  }
  
.banner h2 {

    font-size: 2.3rem;
  }

@media only screen and (max-width: 750px) {
  .banner {
     height: 10rem;
   }  
    .banner h1 {
      font-size: 2rem;
    }
    .banner h2 {
    font-size: 2rem;
    }
  }
  

/* Introduction */

.title{
  text-align: left;
}
.intro{
    text-align:center;
    padding: 2rem 10% 2rem 2rem;
    background-color: rgb(245, 207, 185);
    color: #4a4a4a;
    height: 50rem;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  .text{
    
    color: black;
    font-size: larger;
  }
  

  #selfie{
      object-fit: scale-down; 
      max-width: 100%;
      height: auto;
      padding: 1.11rem;
      border-radius: 0.3rem;
      display: flex;
      height: 14rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  


@media only screen and (max-width: 750px)
 {#selfie{
  display: flex;
  height: 14rem;
  display: block;
  margin-left: auto;
  margin-right: auto;


}}
@media only screen and (max-width: 750px){
    .link{
      padding-left:0;
      height: 75%;

    }
  }
   

#selfie{
    display: flex;
    height: 25rem;
    align-items: center;
    text-align: center;

}
   
  


.link.image-container2{
    display: inline-block;
    width: 15%;
}


footer{
  display: flex;
  justify-content: space-around;
  align-items: right;
  height: 4.44rem;
  padding: 20 0%;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: 1rem;
}
footer li {
  display: inline;
  padding-left: 50rem;
}
footer li a {
  text-decoration: none;
  color: #4a4a4a;
}


.left{
    position: fixed;
    bottom: 0;
    right: 0;}